### **Question 1:**
**Write a program to subtract two complex numbers in Python.**

In [ ]:
a = 3 + 14j #Complex No.1
b = 4 - 3j #Complex No.2
c = a - b #Subtraction of 2 complex numbers a & b

print ("Subtraction of 2 complex numbers")
print ("c = b - a")
print ("  =",c)

Subtraction of 2 complex numbers
c = b - a
  = (-1+17j)

### **Question 2 :**
**Write a program to find the fourth root of a number.**

In [ ]:
print ("Let the number be assumed as 64 and represented by x")

x = 256
y = x ** (1.0 / 4)
print ("Fourth root of number x is =",y)

Let the number be assumed as 64 and represented by x
Fourth root of number x is = 4.0

### **Question 3:**
**Write a program to swap two numbers in Python with the help of a temporary variable.**

In [ ]:
# Python program to swap two variables

x = input('Enter First Number: ')
y = input('Enter Second Number: ')

print("Value of x before swapping: ", x)
print("Value of y before swapping: ", y)

# swapping two numbers using temporary variable
temp = x
x = y
y = temp

print("Value of x after swapping: ", x)
print("Value of y after swapping: ", y)

Enter First Number: 96
Enter Second Number: 63
Value of x before swapping:  96
Value of y before swapping:  63
Value of x after swapping:  63
Value of y after swapping:  96

### **Question 4:**
**Write a program to swap two numbers in Python without using a temporary variable.**

In [ ]:
# Python program to swap two variables

x = input('Enter First Number: ')
y = input('Enter Second Number: ')

print("Value of num1 before swapping: ", x)
print("Value of num2 before swapping: ", y)

# swapping two numbers without using temporary variable
x, y = y, x

print("Value of num1 after swapping: ", x)
print("Value of num2 after swapping: ", y)

Enter First Number: 96
Enter Second Number: 63
Value of num1 before swapping:  96
Value of num2 before swapping:  63
Value of num1 after swapping:  63
Value of num2 after swapping:  96

### **Question 5:**
**Write a program to convert Fahrenheit to kelvin and celsius both.**

In [ ]:
# Fahrenheit = (Celsius * 9/5) + 32

fahrenheit = float(input("Enter temperature in fahrenheit: "))
celsius = (fahrenheit - 32) * 5/9
kelvin = (5/9 * (fahrenheit - 32)) + 273
print('%.2f Fahrenheit is: %0.2f Celsius' %(fahrenheit, celsius))
print('%.2f Fahrenheit is: %0.2f Kelvin' %(fahrenheit, kelvin))

Enter temperature in fahrenheit: 220
220.00 Fahrenheit is: 104.44 Celsius
220.00 Fahrenheit is: 377.44 Kelvin

### **Question 6:**
**Write a program to demonstrate all the available data types in Python. Hint: Use type() function.**

**Ans.**
Types of Data Types in Python

1.   Numbers
    * Integer
    * Complex No.
    * Float
2.   Dictionary
3.   Boolean
4.   Set
5.   Sequence Type
    * Strings
    * List
    * Tuple

In [46]:
# Integer
a = 9369
print ("1) 9369 is",type(a),"data type")

# Complex No.
b = 9 + 6j
print ("2) 9 + 6j is",type(b),"data type")

# Float
c = 936.96
print ("3) 936.96 is",type(c),"data type")

# Dictionary
d = {"name" : "Akhil", "age" : 19, "gender" : "male"}
print ("4) This is",type(d),"data type")

# Boolean
e = True or False
print ("5) True or False is",type(e),"data type")

# Set
f = {"LetsUpgrade", "in", "AI & ML"}
print ("6) This is",type(f),"data type")

# Strings
g = "Akhil"
print ("7) Akhil is",type(g),"data type")

# List
h = ["LetsUpgrade", "in", "AI & ML"]
print ("8) This is",type(h),"data type")

# Tuple
i = ("LetsUpgrade", "in", "AI & ML")
print ("9) This is",type(i),"data type")

1) 9369 is <class 'int'> data type
2) 9 + 6j is <class 'complex'> data type
3) 936.96 is <class 'float'> data type
4) This is <class 'dict'> data type
5) True or False is <class 'bool'> data type
6) This is <class 'set'> data type
7) Akhil is <class 'str'> data type
8) This is <class 'list'> data type
9) This is <class 'tuple'> data type

### **Note:-**
In **Q6.** I was unable to write to input in Dictionary, Set, List, Tuple in the place of this (as shown in output), like done in rest of the data types. please guide